.dashboard {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    font-size: 32px;
    color: #111827;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.section {
    background-color: white;
    border-radius: 12px;
    padding: 20px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.section h2 {
    margin-bottom: 20px;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    justify-content: space-between;

    padding: 15px;
    border-radius: 8px;

    background-color: #f9fafb;
}